@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    font-family:"Inter", sans-serif;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#main{
    background-image: url(imeges/bgMAIN.png);
    background-color: #000000;
}
#about{
background-image: url(imeges/bgABOUT.png);
}
#skills{
    background-image:url(imeges/bgSKILLS.png);
}
#works{
    background-image:url(imeges/bgWORKS.png);
}
#contacts{
    background-image: url(imeges/bgCONTACTS.png);
}
#main, #about, #skills, #works, #contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-content{
    background-color: #fff;
    width: 840px;
    height: 223px;
    padding-left: 30px;
    position: relative;
}
.main-content img{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}
.main-title{
    padding-top: 46px;
    color: #3a47ff;
    font-size: 80px;
}
.main-subtitle{
    color: #2b2d35;
    font-size: 20px;
    font-family: 'comfortaa';
}
.button{
    width: 200px;
    height: 60px;
    border-radius: 100px;
    border: 2px solid black;
    background-color: #3674b5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 0 #d2d0f7;
    transition: all 1s; 
    margin: 20px auto;
}
.button:hover{
    background-color: #222c72;
}
.button a{
    color: #d2d0f7;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
@keyframes bug-move {
    from{transform: translateY(0px);}
    to{transform: translateY(-70px);}
}
.mooving-bug{
    animation-name: bug-move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
background: url(imeges/moving-bug.png);
background-repeat: no-repeat;
background-size: contain;
width: 150px;
height: 150px;
position: absolute;
bottom: 30px;
right: 50px
}
.title{
    padding-bottom: 100px;
    text-align:center;
    color: white;
    font-size: 80px;
    text-shadow: 5px 5px 0 black;
}
.about-content{
    margin-right: -5px;
    width: 35%;
    height: 300px;
    border-radius: 20px 0 0 20px;
    background-color: #b2ddff;
    padding-left: 40px;
    padding-top: 40px;
    display: flex;
}
.about-title{
    color: #3674b5;
    max-width: 463px;
    font-size: 20px;
    margin-bottom: 20px;
}
.about-card{
margin-left: -10px;
background-color:#b2ddff;
padding: 30px;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.about-card img{
width: 300px;
}
.about_block{
    display: flex;
    flex-direction: row;
}
#about, #skills{
    flex-direction: column;
    position: relative;
}
.cloud{
background:url(imeges/cloud.png) ;
background-repeat: no-repeat;
width: 180px;
height: 162px;
position: absolute;
left: 30px;
}
.cloud, .mooving-ballon{
    animation-name: bug-move;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.skills-card{
    background-color: #ffffff;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 20px;
    padding: 0px;
    border-radius: 5px 5px 20px 20px;
    box-shadow: 2px 5px 0 #000000;
    width: 700px;
}
.skills-card p{
    color: #000;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    max-width: 500px;
    font-family: 'Comfortaa';
}
.mooving-ballon{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}
footer{
    background-color: #0d042e;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.footer-info p{
    padding-bottom: 10px;
}
.footer-year p{
    letter-spacing: 1.5px;
}
.footer-links a{
    margin-right: 15px;
}
.works_block img{
    margin-left: 15px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.fixed-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.nav-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding-right: 150px;
}
.nav-link{
    width: 125px;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #3674b5;
    background-color: #fff;
    text-decoration: none;
    color: #3674b5;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: all 1s;
}
.nav-link:hover{
    background-color: #3674b5;
    color:#fff ;
    border: 2px solid #fff;
}
.logo{
    color: #d1f8ef;
    font-size: 80px;
    padding-left: 50px;
}
.active{
    background-color: #3674b5;
    color: #fff;
    border: 2px solid #fff;
}
.mobile-button{
    display: none;
    padding-top: 10px;
    width: 40px;
    position: absolute;
right: 20px;
}
.hide, .btn-hide{
    display: none;
}
.mobile-btn{
    position: absolute;
    z-index: 3;
}
.contacts-form {
background-color: #ffffff;
width: 450px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
padding: 20px;
border-radius: 5px 5px 20px 20px;
box-shadow: 2px 5px 0 #000000;
position: relative;
}
.contacts-form p{
color: #000;
font-size: 16px;
margin-top: 50px;
margin-bottom: 30px;
text-align: center;
max-width: 500px;
font-family: 'Comfortaa';
}
input[type=text] {
width: 80%;
margin-bottom: 20px;
padding: 15px;
outline: none;
border: none;
border-radius: 100px;
#D1F8EF;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}
input[type=submit] {
background-color: #3674B5;
color: #FFF;
font-size: 18px;
width: 80%;
margin-bottom: 20px;
padding: 15px;
border-radius: 100px;
border: 2px solid #000;
box-shadow: 5px 5px 0;
transition-duration: 0.3s;
}
.contacts-form img{
width: 100px;
position: absolute;
top: 0px;
right: 0px;
}
input [type=submit] :hover{
background: #3a47ff;
}
input[type=text] :focus {
border: 2px solid #3a47ff;
}
.off-scroll{
        overflow: hidden;
    }
@media(max-width:1000px) {
    body{
        width: 100%;

    }
    .main_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-button{
        display: block;
    }
    .title{
        font-size: 70px;
        padding: 0;
        margin-bottom: 10px;
    }
    #about, #works{
        display: flex;
        align-items: center;
    }
    .mobile-menu{
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #0090ff;
        min-height: 100vh;
        z-index: 2;
    }
    .mobile-nav{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-nav-links .nav-link{
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    }
    button{
        width: 150px;
        height: 40px;
        z-index: 2;
    }
    button a{
        font-size: 15px;
    }
    .nav-links{
        display: none;
    }
    .logo{
        font-size: 40px;
        padding-left: 20px;
        padding-top: 10px;
    }
    .main-content{
        max-width: 50%;
        height: 180px;
    }
    .main-title{
        padding-top: 40px;
        font-size: 42px;
    }
    .main-subtitle{
        font-size: 18px;
    }
    .mooving-bug, .mooving-ballon, .cloud{
        display: none;
    }
    .about_block{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .about-card{
        margin: 0;
        background-size: contain;
        padding-top: 20px;
        width: 40%;
        max-width: 400px;
        border-radius: 20px 20px 0 0;
    }
    .about-card img{
        width: 100%;
        height: auto;
        
    }
        .works_block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .about-content{
        width: 75%;
        height: auto;
        padding: 40px;
        border-radius: 20px;
        margin: 0;
        text-align: center;
    }
    .about-title{
        font-size: 18px;
    }
    .skills-card{
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .skills-card p{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .skills_block{
        min-height: 60vh;
    }
    .skills-card .button{
        position: absolute;
        bottom: 150px;
    }
   
    footer{
        height: 200px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-info{
        text-align: center;
    }

}